<%- include('../partials/header') %>

<section id="show-page">
    <div>Build Name:</div>
    <dir>
        <%= build.buildName %>
    </dir>
    <div>Role:</div>
    <dir>
        <%= build.role %>
    </dir>
    <div>Melee:</div>
    <dir>
        <%= build.melee %>
    </dir>
    <div>Spell Caster:</div>
    <dir>
        <%= build.spellCaster %>
    </dir>
    <div>Ranged:</div>
    <dir>
        <%= build.ranged %>
    </dir>
    <div>Armor Weight:</div>
    <dir>
        <%= build.armorWeight %>
    </dir>
    <div>Weapon Weight:</div>
    <dir>
        <%= build.weaponWeight %>
    </dir>
    <div>Definition</div>
    <dir>
        <%= build.definition%>
    </dir>

    <!-- <div>Comments</div>
    <dir>
        <%# build.comments.forEach(function(c) { %>
            <tr>
                <td>
                    Airport: <%# d.airport %>
                </td>
                <td>
                    Arrival: <%# d.arrival %>
                </td>
                <br />
            </tr>
            <%# }); %>
    </dir> -->

<%- include('../partials/footer') %>
